@import 'src/scss/colors';
@import 'src/scss/fonts';
@import 'src/scss/reset';
@import 'src/scss/scrollbar';

:global(*),
:global(*::before),
:global(*::after) {
  box-sizing: border-box;
}

.icon {
  width: 1em;
  height: 1em;
}