@import 'src/scss/colors';
@import 'src/scss/fonts';
@import 'src/scss/reset';
@import 'src/scss/scrollbar';

*, ::after, ::before {
  box-sizing: border-box;
}

.icon {
  width: 1em;
  height: 1em;
}