$black-0: #2e3440;
$black-1: #3b4252;
$black-2: #434c5e;
$black-3: #4c566a;

$white-0: #d8dee9;
$white-1: #e5e9f0;
$white-2: #eceff4;
$white-3: #f2f4f8;
$white-4: #ffffff;

$red: #bf616a;
$orange: #d08770;
$yellow: #ebcb8b;
$green: #a3be8c;
$purple: #b48ead;

$accent-0: #8fbcbb;
$accent-1: #88c0d0;
$accent-2: #81a1c1;
$accent-3: #5e81ac;
