$black-0: #2E3440;
$black-1: #3B4252;
$black-2: #434C5E;
$black-3: #4C566A;

$white-0: #D8DEE9;
$white-1: #E5E9F0;
$white-2: #ECEFF4;
$white-3: #F2F4F8;
$white-4: #FFFFFF;

$red: #BF616A;
$orange: #D08770;
$yellow: #EBCB8B;
$green: #A3BE8C;
$purple: #B48EAD;


$accent-0: #8FBCBB;
$accent-1: #88C0D0;
$accent-2: #81A1C1;
$accent-3: #5E81AC;

