@mixin grid_auto_columns($columns, $gap, $min_width) {
	/**
	* Calculated values.
	*/
	$gap-count: calc($columns - 1);
	$total-gap-width: calc($gap-count * $gap);
	$grid-item--max-width: calc((100% - $total-gap-width) / $columns);

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(max($min_width, $grid-item--max-width), 1fr));
	grid-gap: $gap;
}
